@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* layout.html styles */
body {
    background-color: #454545;
}

header {
    background-color: black;
    margin: -8px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-collapse: collapse;
}

header div {
    display: grid;
    grid-template-columns: 15rem 10rem;
}

header div div {
    margin-top: 2.5rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

header #logo a {
    text-decoration: none;
    color: inherit;
}

#logo {
    color: white;
    font-size: 3.2rem;
    margin-left: 1rem;
    font-family: 'Raleway', sans-serif;
}

#data {
    color: #fff;
    font-family: 'Onest', sans-serif;
    text-align: center;
    margin-top: 0.8rem;;
}

#data a {
    color: #2962ff;
}

/* open.html styles */
#SlctLoc {
    color: #fff;
    font-size: 3rem;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5rem;

}

#form {
    margin: auto;
    margin-top: 8rem;
    text-align: center;
}

#form #span1 {
    position: relative;
    top: 4px;
    left: 2.5rem;
    color: white;
}

#form #span2 {
    position: relative;
    color: white;
    border-radius: 30px;
    background-color: darkgrey;
    padding: 1rem;
    scale: 80%;
    top: 3px;
    right: 1.5rem;
    cursor: pointer;
}

#searchloc {
    background-color: rgb(69, 69, 69);
    border: none;
}

::placeholder {
    text-align: left;
    color: #a9a9a9;
}

#form input {
    margin-right: 1.5rem;
    border: none;
    outline: solid darkgrey 3px;
    background-color: rgb(69, 69, 69);
    color: white;
    width: 21rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 25px;
    padding-left: 3rem;
}

#form input:hover {
    background-color: darkgrey;
    outline: none;
}

#form input:focus {
    background-color: darkgrey;
    outline: none;
}

#form #span2:hover {
    background-color: black;
}

/* index.html styles */
#locationsearch form {
    margin-top: 2rem;
    margin-left: 40rem;
    margin-right: 40rem;
    scale: 120%;
    width: 16rem;
}

#locationsearch form button {
    display: inline-block;
    background-color: inherit;
    outline: none;
    border: none;
}

#locationsearch form span {
    position: relative;
    top: 0.5rem;
    background-color: inherit;
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
}

#locationsearch form span:hover {
    cursor: pointer;
    background-color: #262626;
}

#locationsearch input{
    padding: 0.5rem;
    padding-left: 1rem;
    outline: none;
    border: 3.5px solid;
    border-color: #262626;
    background-color: inherit;
    border-radius: 20px;
    width: 10rem;
    color: #fff;
}

#locationsearch input:hover {
    background-color: #262626;
    outline: none;
}

#locationsearch input:focus {
    background-color: #262626;
    outline: none;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 16rem 29.3rem;
    width: 45rem;
    margin-top: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 1rem;
    border: solid black 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.left-side {
    position: relative;
    font-family: 'Onest', sans-serif;
}

.left-side h3 {
    z-index: 1;
    font-weight: 500;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 2rem;
}

.left-side h3 span {
    position: relative;
    top: 4px;
}

.left-side h4 {
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    top: 22.6rem;
    left: 4px;
}

#img {
    position: relative;
    border-radius: 8px;
    width: 220px;
    height: 400px;
}

.days {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem;
    gap: 1rem;
}

.day {
    position: relative;
    border: solid darkgrey 5px;
    border-radius: 18px;
    padding: 1rem;
    background-color: darkgrey;
    color: black;
    font-family: 'Onest', sans-serif;
    margin-right: 1rem;
}

.day:hover {
    cursor: pointer;
    outline: solid 3px;
    outline-color: darkgrey;
}

table{
    gap: 1rem;
    border-spacing: 1rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    border-collapse: separate;
    width: 100%;
}

.icon {
    margin-top: 1.5rem;
    margin-left: 5rem;
    font-family: 'Onest', sans-serif;
    font-size: 2.5rem;
    display: inline-block;
}

.icon span {
    font-size: 3.5rem;
    display: inline;
}

.icon h4 {
    position: relative;
    bottom: 0.8rem;
    display: inline;
    font-weight: 500;
}

/* error.html */
#form1 {
    margin-top: 10rem;
}

#form1 input {
    outline: solid 2px;
    outline-color: #f23645;
}

#form h4 {
    margin: auto;
    font-size: 25px;
    font-weight: 300;
    color: #f23645;
}

/* styles for mobile devices */

@media (width < 520px) {
    header {
        margin-top: -2.1rem;
        width: 100%;
        height: 9.5rem;
        padding-top: 3rem;
    }

    header div {
        margin-left: -1rem;
        display: block;
        text-align: center;
    }

    header #logo {
        margin-top: 0rem;
        margin-bottom: 0.4rem;
        font-size: 3.4rem;
    }

    header div div {
        margin: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    #SlctLoc {
        font-size: 2.5rem;
    }

    #form #span1 {
        display: none;
    }

    #form input {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    #form #span2 {
        display: inline block;
        margin-right: 0rem;
        margin-left: 2rem;
        width: 6rem;
        height: 1.5rem;
    }

    #locationsearch form {
        margin: 4rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #locationsearch input {
        font-size: 1.1rem;
    }

    #locationsearch span {
        font-size: 1.8rem;
    }

    .container {
        width: 89%;
        margin: 0rem;
        display: block;
        text-align: center;
    }

    #img {
       display: none;
    }

    .left-side {
        height: 4rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 0rem;
    }

    .left-side h3 {
        font-size: 1.8rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .left-side h3 span {
        font-size: 1.8rem;
    }

    .days {
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 16rem;
    }

    .day {
        display: grid;
        grid-template-columns: 4rem 4rem 4rem 4rem;
        width: 16rem;
        height: 3.5rem;
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }

    .day h3 {
        margin: 0rem;
    }

    .day span {
        margin: -0.2rem;
    }

    .icon {
        font-size: 2rem;
        margin: 1rem;
        margin-bottom: 0rem;
    }

    .icon span {
        font-size: 3rem;
    }

    table {
        border-spacing: 1.5rem;
    }

    footer {
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem;
    }
}
